<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiwang.platform.jxmailacquisition.dao.CollectMailboxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baiwang.platform.jxmailacquisition.common.entity.CollectMailbox">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="org_id" property="orgId" />
        <result column="user_id" property="userId" />
        <result column="email_address" property="emailAddress" />
        <result column="email_password" property="emailPassword" />
        <result column="email_add_username" property="emailAddUsername" />
        <result column="email_add_datetime" property="emailAddDatetime" />
        <result column="enterprise_mailbox" property="enterpriseMailbox" />
        <result column="last_login_username" property="lastLoginUsername" />
        <result column="last_login_datetime" property="lastLoginDatetime" />
        <result column="last_collect_datetime" property="lastCollectDatetime" />
        <result column="def1" property="def1" />
        <result column="def2" property="def2" />
        <result column="def3" property="def3" />
        <result column="def4" property="def4" />
        <result column="def5" property="def5" />
        <result column="def6" property="def6" />
        <result column="def7" property="def7" />
        <result column="def8" property="def8" />
        <result column="def9" property="def9" />
        <result column="def10" property="def10" />
        <result column="creater" property="creater" />
        <result column="create_datetime" property="createDatetime" />
        <result column="modify_user" property="modifyUser" />
        <result column="modify_datetime" property="modifyDatetime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, org_id, user_id, email_address, email_password, email_add_username, email_add_datetime, enterprise_mailbox, last_login_username, last_login_datetime, last_collect_datetime, def1, def2, def3, def4, def5, def6, def7, def8, def9, def10, creater, create_datetime, modify_user, modify_datetime, deleted
    </sql>

    <select id="queryEmailByIdList" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from collect_mailbox
        <foreach collection="idList" open="where id in (" item="id" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
