<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiwang.platform.jxmailacquisition.dao.CollectorMailboxInvoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baiwang.platform.jxmailacquisition.common.entity.CollectorMailboxInvoice">
        <id column="id" property="id"/>
        <result column="collect_mailbox_id" property="collectMailboxId"/>
        <result column="invoice_type" property="invoiceType"/>
        <result column="invoice_code" property="invoiceCode"/>
        <result column="invoice_no" property="invoiceNo"/>
        <result column="invoice_collect_datetime" property="invoiceCollectDatetime"/>
        <result column="invoice_owner" property="invoiceOwner"/>
        <result column="invoice_attachments" property="invoiceAttachments"/>
        <result column="def1" property="def1"/>
        <result column="def2" property="def2"/>
        <result column="def3" property="def3"/>
        <result column="def4" property="def4"/>
        <result column="def5" property="def5"/>
        <result column="def6" property="def6"/>
        <result column="def7" property="def7"/>
        <result column="def8" property="def8"/>
        <result column="def9" property="def9"/>
        <result column="def10" property="def10"/>
        <result column="def11" property="def11"/>
        <result column="def12" property="def12"/>
        <result column="def13" property="def13"/>
        <result column="def14" property="def14"/>
        <result column="def15" property="def15"/>
        <result column="creater" property="creater"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="modify_datetime" property="modifyDatetime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, collect_mailbox_id, invoice_type, invoice_code, invoice_no, invoice_collect_datetime, invoice_owner, invoice_attachments, def1, def2, def3, def4, def5, def6, def7, def8, def9, def10, def11, def12, def13, def14, def15, creater, create_datetime, modify_user, modify_datetime, deleted
    </sql>

</mapper>
